<mat-card class="containingCard">
<mat-card-header>All Posts</mat-card-header>
<br>
<mat-card-content>
<mat-accordion>
    <mat-expansion-panel *ngFor="let post of posts">
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{post.title}}
            </mat-panel-title>
            <mat-panel-description>
              {{post.description}}
            </mat-panel-description>
        </mat-expansion-panel-header>
        {{post.content}}
    </mat-expansion-panel>
</mat-accordion>
</mat-card-content>
</mat-card>