.intro-card {
    float: left;
    width: 20%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 10;
}

.title {
    text-align: center;
}

.subtitle {
    text-align: center;
    align-content: center;
}