/* .topNavBar {
    position: fixed;
    top: 0;
    width: 100%;
}

.navButtons {
    right: 0;
}

.addMargin {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    width: 50%;
} */

.sideNav {
    min-width: 35vh;
    width: 35vh;
    max-width: 35vh;
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
}

.toolbar-filler {
    flex: 1 1 auto;
}

.main-toolbar {
    position: fixed;
    top: 0;
}

.toolbar-title {
    margin-left: 600px;
}